<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Lista de Productos</h1>
<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>SKU</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.precio}"></td>
        <td th:text="${producto.sku}"></td>
        <td>
            <!-- Botón de editar -->
            <a th:href="@{/productos/editar/{id}(id=${producto.id})}" class="btn btn-primary">Editar</a>
        </td>
        <td>
            <!-- Botón de eliminar -->
            <a th:href="@{/productos/eliminar/{id}(id=${producto.id})}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/index.html}" >Volver</a>
</body>
</html>